	:root {
		--title-color1: #000000;
		--title-color2: #FFFFFF;
	}

	/* цвет отсновго текста #000000 */
	/* цвет слайдов с черным фоном#FFFFFF */
	/*  */

	/* Общие */

	html {
		box-sizing: border-box;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}


	* {
		padding: 0;
		margin: 0;

		font-family: Roboto, sans-serif;
		font-weight: 400;
	}

	a {
		text-decoration: none;
	}

	body {
		background-color: #ffffff;
	}


	@font-face {
		font-family: Archangelsk;
		src: url('../font/Archangelsk.ttf') format('woff2');
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Archangelsk, sans-serif;
		font-weight: 400;
		font-size: 62px;
	}


	p {
		font-family: roboto;
		font-weight: 400;
		font-size: 18px;
		line-height: 34px;
		;
	}


	.blues {
		color: #52BEDC;
	}

	.greys {
		color: #777777;
	}

	.section-title {
		font-size: 62px;
		font-weight: 400;
	}

	/* Предзагрузка фото */
	.preload-images {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		background-image: url('../img/11.jpg'), url('../img/11_\(1\).jpg'), url('../img/Untitled-1_2.jpg'),
			url('../img/123.jpg');
	}

	/* Фоновое фото */
	.start-back {
		background-color: grey;
		background-image: url(../img/11.jpg);
		background-size: cover;
		background-position: center;
		max-width: 1905px;
		height: 1000px;
	}

	/* Нвигация */

	.start {
		width: 1312px;
		margin: 0 auto;
	}

	.logo {
		margin-right: 605px;
	}



	.header {
		display: inline-block;
		position: absolute;
		max-width: 1280px;
		max-height: 74px;
		left: 320px;
		top: 20px;
	}

	.nav {
		display: flex;
		align-items: center;
	}


	.social {
		display: flex;
		list-style: none;
	}

	.item:not(:last-child) {
		margin-right: 40px;

	}

	.social__link {
		display: block;
		width: 30px;
		height: 30px;

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.yt {
		background-image: url(../img/youtube_logo.svg);
	}

	.vk {
		background-image: url(../img/vk_logo.svg);
	}

	.fb {
		background-image: url(../img/facebook-rect_logo.svg);
	}

	.tw {
		background-image: url(../img/twitter-square_logo.svg);
	}

	.twitch {
		background-image: url(../img/twitch_logo.svg);
	}

	.inst {
		background-image: url(../img/instagram-square_logo.svg);
	}









	/* Герой */

	.hero {
		position: absolute;
		width: 624px;
		height: 369px;
		left: 976px;
		top: 631px;
		clip-path: polygon(9% 0, 100% 0, 100% 82%, 89% 100%, 0 100%, 0 18%);

		background-color: #F8F200;
	}

	.hero-title {
		margin-top: 73px;
		margin-left: 56px;

		font-family: 'Archangelsk';
		font-style: normal;
		font-weight: 400;
		font-size: 62px;
		line-height: 63px;

		color: #000000;
	}

	.frame {
		width: 272px;
		height: 78px;
		margin-top: 25px;
		margin-left: 56px;

		display: flex;
		flex-direction: row;
		border-radius: 10px;
		align-items: center;
		padding: 19px 50px;
		gap: 10px;


		background-color: #000000;
	}

	.hero-link {


		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #F8F200;
	}


	/* НайтСити */


	.nightcity-title {
		position: absolute;
		width: 996px;
		height: 63px;
		left: 320px;
		top: 1070px;

		font-family: 'Archangelsk';
		font-style: normal;
		font-weight: 400;
		font-size: 62px;
		line-height: 63px;

		color: #000000;
	}

	.nightcity-text {

		position: absolute;
		width: 952px;
		height: 125px;
		left: 320px;
		top: 1158px;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 34px;
	}

	.nightcity1 {

		position: absolute;
		width: 788px;
		height: 424px;
		left: 812px;
		top: 1353px;
	}

	.nightcity2 {

		position: absolute;
		width: 460px;
		height: 196px;
		left: 320px;
		top: 1353px;
	}

	.nightcity3 {
		position: absolute;
		width: 460px;
		height: 196px;
		left: 320px;
		top: 1581px;
	}



	/* Переход1 */

	.prize-back:before {
		display: inline-flex;
		content: "";
		width: 1905px;
		height: 70px;

		background: url(../img/trans-1.png);
	}





	/* Призы */

	.prize-back {
		position: absolute;
		width: 1905px;
		height: 884px;
		left: 0px;
		top: 1917px;

		background-color: #000000;
	}

	.prize {
		width: 1312px;
		margin: 0 auto;

		height: 814px;
		left: 0px;
		top: 1917px;
	}

	.free {
		width: 1312px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.prize-title {
		color: #FFFFFF;
	}

	.prize-text {
		width: 1312px;
		margin: 0 auto;

		color: white;
	}

	.prize-check {
		display: flex;
		flex-direction: row-reverse;


		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;


		color: #FFFFFF;


	}

	.prizeimg {
		display: flex;
		width: 788px;
		height: 456px;
		margin-left: calc(1312px - 812px);

	}




	.prize-button {
		width: 1312px;
		margin: 0 auto;

		font-size: 18px;
		font-weight: 700;
		color: var(--title-color1);
		background-color: #F8F200;
	}


	.prize-button {
		display: block;
		width: 192px;
		height: 59px;
		margin: 0;
	}


	.prize-check {
		width: 280px;
		margin: 0;
	}


	.prize-iput {
		width: 280px;
		margin: 0;
	}

	input {
		outline: none;
	}







	/* Рекламы пост */
	.ad-back:before {
		display: inline-flex;
		content: "";
		width: 1905px;
		height: 70px;
		background: url(../img/trans-2.png);
	}


	.ad-back {
		margin-top: 1792px;
		background-color: #F8F200;
	}

	.ad {
		width: 1312px;
		margin: 0 auto;
		height: 676px;
	}

	.ad-profuct {

		margin-top: 20px;
		margin-bottom: 27px;
	}

	.description {
		position: absolute;
		margin-top: 20px;
		width: 624px;
		height: 526px;
		left: 976px;
		top: 2871px;
	}

	.ad-logo {
		display: flex;
		margin-top: 26px;
		margin-bottom: 70px;
		margin-left: 42px;
	}


	.ad-line {
		align-items: center;
		margin-right: 25px;
		margin-left: 25px;
	}

	.ad-link {
		display: flex;
		width: 220px;
		height: 80px;
		align-items: center;
		padding: 15px 50px;
		margin-top: 50px;

		font-size: 25px;
		background: #000000;
		color: #F8F200;
		text-decoration: none;
		font-weight: bold;
		border-radius: 10px;
	}



	.ad-list {
		list-style: none;
		padding-left: 0;
	}

	.ad-list li {
		position: relative;
		padding-left: 40px;
		line-height: 1.5;
		margin-bottom: 10px;
	}

	.ad-list li:nth-child(1):before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		background-image: url('../img/auto_awesome.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.ad-list li:nth-child(2):before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		background-image: url('../img/auto_awesome_motion.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.ad-list li:nth-child(3):before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		background-image: url('../img/znachek.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}







	/* Покупка */
	.buy .buy-img {
		position: absolute;
		width: 944px;
		height: 717px;
		left: 0px;
		top: 3477px;

	}


	.buy-title {
		display: inline-flex;
		margin-top: 70px;
		margin-left: 42px;
		font-family: 'Archangelsk';
		font-style: normal;
		font-weight: 400;
		font-size: 62px;
		line-height: 63px;

		color: #FFFFFF;
	}

	.buying {
		position: absolute;
		width: 961px;
		height: 717px;
		left: 944px;
		top: 3477px;

		background: #000000;
	}

	.buy-description {
		display: inline-block;
		margin-top: 25px;
		margin-left: 32px;
	}


	.buy-text {
		font-size: 24px;
		font-weight: 700;

		color: #52BEDC;
	}

	.buy-list {
		list-style: none;
		font-size: 24px;
		font-weight: 400;


		color: #FFFFFF;
	}

	.disk {
		display: flex;
	}


	.disk::before {
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		background-image: url('../img/disk.svg');
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 15px;
	}


	.futl {
		display: flex;
	}


	.futl::before {
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		background-image: url('../img/wysiwyg.svg');
		background-size: contain;
		background-repeat: no-repeat;

		margin-right: 15px;
	}


	.info {
		display: flex;
	}


	.info::before {
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		background-image: url('../img/collections.svg');
		background-size: contain;
		background-repeat: no-repeat;

		margin-right: 15px;
	}



	.buy-item {
		font-size: 18px;
	}

	.platform {
		position: absolute;
		width: 319px;
		height: 186.27px;
		left: 976px;
		top: 3937px;

		font-family: Roboto;
		font-weight: 700;
		font-size: 24px;
		color: #52BEDC;
	}


	.platform-list {
		display: flex;
		flex-wrap: wrap;
		width: 500px;
		height: 186px;
		list-style: none;
		border-radius: 10px;
		margin-top: 55px;
		padding: 15px;
	}

	.platform-list .pc {
		background: url('../img/PC.svg');
		width: 58px;
		height: 33px;
		padding: 36px;
		margin-right: 80px;
		background-repeat: no-repeat;

	}


	.platform-list .xb {
		width: 178px;
		height: 36px;
		margin-right: 50px;
		background: url('../img/xbox-one-3_logo.svg');
		background-repeat: no-repeat;
	}

	.platform-list .st {
		width: 58px;
		height: 51px;
		margin-right: 80px;
		background: url('../img/g13831.svg');
	}

	.ps {
		background: url('../img/Playstation_logo.svg');
		width: 168px;
		height: 36px;
	}


	.buy-platform {
		position: absolute;
		width: 319px;
		height: 186.27px;
		left: 976px;
		top: 3937px;
	}

	/* Футер */

	.footer-up {
		position: absolute;
		display: flex;
		width: 1905px;
		height: 100px;
		left: 0px;
		top: 4194px;
		height: 100px;

		background-color: #FFFFFF;
		border: 1px solid #000000;
	}

	.cyberpunk {
		display: flex;
		align-items: center;
		margin-top: 13px;
		margin-left: 320px;
		margin-right: 32px;
	}

	.cd {
		margin-top: 13px;
	}

	.doks {
		display: flex;
		align-items: center;
		margin-left: 250px;
	}

	.doks .item {
		display: flex;
		list-style: none;
		margin-right: 32px;


		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	.policy-item {
		color: #000000;
	}

	.policy-item:hover {
		color: #52BEDC;
	}

	.footer-down {
		display: flex;
		max-width: 1905px;
		height: 40px;
		border: 1px solid #000000;
	}

	.footer-down {
		position: absolute;
		left: 0px;
		top: 4294px;
		background: #000000;
		width: 1905px;
	}

	.copy {

		display: flex;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		align-items: center;
		text-align: center;
		margin-left: 834px;

		color: #FFFFFF;
	}



	/* .footer-up {
		position: absolute;
		width: 1905px;
		height: 100px;
		left: 0px;
		top: 4194px;

		background: #FFFFFF;
	}

	.footer-down {
		position: absolute;
		width: 1905px;
		height: 40px;
		left: 0px;
		top: 4294px;

		background: #000000;
	}

	.copy {
		color: #FFFFFF;
	} */








	/* Что-то */